<ion-header>
  <ion-toolbar color="danger">
     <!--  <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
    <ion-title>Login to Newz Adda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="primary"><ion-icon name="logo-google" expand="full" ></ion-icon>&nbsp;&nbsp;Login with Google &nbsp;&nbsp;</ion-button>
  <h6>Email</h6>
  <ion-input type="text" placeholder="Enter Email" id="inbird" #email></ion-input>
  <h6>Password</h6>
  <ion-input type="password" placeholder="Enter Password" id="inbird" #pass></ion-input>
  <a href="#">
  <h6>By Signin, You agree to terms & Condition</h6></a>
  <ion-button color="danger" expand="full" id="inbird" (click)="Login(email.value,pass.value)">Login</ion-button>
  <h6>New User : <button ion-button color="danger" (click)="Opsignpage2()" clear id="Sinup">Sign Up</button></h6>
</ion-content>
