<ion-header>
  <ion-toolbar color="danger">
     <ion-buttons slot="start">
        
        
        <ion-icon name="arrow-back" id="micon" routerLink="/home" ></ion-icon>
       <!-- <a href="../home" class="back"><b><ion-icon name="arrow-back" id="micon"></ion-icon></b></a> -->
        </ion-buttons> 
       
    <ion-title>morenews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <img src="{{url}}" alt=""><br>
    <h4>{{title}}</h4>
    <h6 style="text-align:justify">{{desc}}</h6>

</ion-content>
